<% layout("layouts/boilerplate") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="alert alert-danger" style="word-wrap: break-word;" role="alert">
                    <h4 class=" alert-heading">
                        <%= err.message %>
                    </h4>
                    <p class="text-wrap">
                        <%= err.stack %>
                    </p>
                </div>
            </div>
        </div>
    </div>