<% layout("layouts/boilerplate") %>
    <div class="container">
        <h1 class="text-center mt-3">Login :P</h1>
        <form class="needs-validation" action="/login" method="POST" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
                <div class="invalid-feedback">Please enter a username</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="invalid-feedback">Please enter a password</div>
            </div>
            <button class="btn btn-warning" onclick="validateForm()">Login</button>
            <p class="mt-2 text-center">Don't have an account? <a href="/register">Register!</a></p>
        </form>
    </div>

    <script src="/formValidation.js"></script>