<% layout("layouts/boilerplate") %>
    <a href="/">
        <button class="home-btn" title="Back to Home">
            <i class="fa-solid fa-house"></i>
        </button>
    </a>
    <div class="container user-sign">
        <h1 class="text-center mt-3">Register :P</h1>
        <form class="needs-validation" action="/register" method="POST" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
                <div class="invalid-feedback">Please choose a username</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="invalid-feedback">Please choose a password</div>
            </div>
            <center>
                <button class="btn btn-warning sign-btn" onclick="validateForm()">Register</button>
            </center>
        </form>
    </div>

    <script src="/formValidation.js"></script>